* {
   font-family: "Montserrat", sans-serif;
   margin: 0;
   padding: 0;
   /* background-color: #000; */
   color: white;
}


.main {
   display: flex;
   height: 100vh;
   overflow: hidden;
   padding: 0.5rem;
}

.sidebar {
   background-color: #000;
   width: 350px;
   border-radius: 1rem;
   margin-right: 0.5rem;
}


.maincontent {
   background-color: #121212;
   display: flex;
   flex-direction: column;
   flex: 1;
   overflow-y: auto;
   border-radius: 1rem;
   position: relative;
   padding: 0 1.5rem 0 1.5rem;
   overflow-x: auto;
}

.musicplayer {
   background-color: black;
   position: fixed;
   bottom: 0;
   height: 72px;
   width: 100%;
}

.nav-option a {
   text-decoration: none;
   margin: 1rem;
   font-size: 1rem;
}

.navbar {
   height: 100px;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: space-evenly;
   padding: 0.5rem 0.75rem;
   border-radius: 1rem;
   background-color: #121212;
}

.nav-option i {
   font-size: 1.25rem;
}

.nav-option {
   opacity: 0.7;
   padding: 0.5rem 0.75rem;
   background-color: #121212;
}

.nav-option:hover {
   opacity: 1;

}


.library {
   border-radius: 1rem;
   height: 100%;
   background-color: #121212;
}

.option {
   display: flex;
   justify-content: space-between;
   padding: 1rem 0.75rem;
   background-color: #121212;
   margin: 0.75rem;

}



.option img {
   height: 1.25rem;
   width: 1.25rem;
   font-size: 1.25rem;

}


.option a {
   text-decoration: none;

   font-size: 1rem;
}

.nav-option1 {
   background-color: #121212;
}

.icons {
   display: flex;
   align-items: center;
   background-color: #121212;
   font-size: 1.25rem;
   margin-right: 1rem;
}

.icons i {
   background-color: #121212;
   margin-right: 1rem;
   opacity: 0.7;
}

.icons i:hover {
   opacity: 1;
}





.box1 {
   height: 8rem;
   border-radius: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   border-radius: 1rem;
   background-color: #232323;
   padding: 0.5rem 1rem;
   margin: 0.75rem 0 0.5rem;

}


.box1 h5 {
   background-color: #232323;
   font-family: 700;
}

.box1 p {
   background-color: #232323;
   font-size: 0.75rem;
   opacity: 0.9;
}

.box1 button {
   background-color: #fff;
   color: #000;
   border: none;
   border-radius: 9999px;
   padding: 0.3rem 1rem;
   font-size: 0.75rem;
   font-weight: 700;
   cursor: pointer;
   width: fit-content;
   margin-top: 0.5rem;
   height: 2rem;
}

body {
   background-color: #000;
}

.first-button {
   background-color: #fff;
   color: #000;
   border: none;
   border-radius: 8rem;
   padding: 4px 12px;
   cursor: pointer;
   width: fit-content;
   height: 2rem;
   font-weight: 1.25rem;
}

.second-button {
   background-color: #232323;
   color: #fff;
   border: none;
   border-radius: 8rem;
   padding: 4px 12px;
   cursor: pointer;
   width: fit-content;
   height: 2rem;
   font-weight: 1.25rem;
}

.third-button {
   background-color: #232323;
   color: #fff;
   border: none;
   border-radius: 8rem;
   padding: 4px 12px;
   cursor: pointer;
   width: fit-content;
   height: 2rem;
   font-weight: 1.25rem;
}


.stickynav button {
   margin: 0 0.5rem 0 0.5rem;
}

.stickynav {
   position: sticky;
   top: 0;
   z-index: 10;
   background-color: #121212;
   width: 100%;
   display: flex;
   padding: 1rem 0.75rem;
   height: 3rem;
}




.cards h2 {
   font-size: 1.5rem;

}

.card-container {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   /* gap between cards */
}

.card {
   background-color: #121212;
   width: 160px;
   padding: 0.75rem;
   border-radius: 0.75rem;
   transition: background-color 0.3s ease, transform 0.2s ease;
   cursor: pointer;
}

.card:hover {
   background-color: #282828;
   transform: scale(1);
}

.card img {
   width: 100%;
   border-radius: 0.5rem;
   margin-bottom: 0.75rem;
}

.card-info {
   font-size: 0.85rem;
   color: #b3b3b3;
}

.cards-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1.25rem;
}

.cards-header h2 {
   font-size: 1.5rem;
}

.show-all {
   font-size: 0.875rem;
   text-decoration: none;
   color: #b3b3b3;
   transition: color 0.3s ease;
}

.show-all:hover {
   color: #fff;
}

.footer {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   border-top: 1px solid #ffffff33;
   padding: 32px;
   margin-top: 40px;
   flex-wrap: nowrap;
   padding-right: 0%;
   flex-wrap: wrap;
}

.footer ul {
   margin-top: 3rem;
}

ul li {
   text-decoration: none;
   padding: 0.2rem 0.2rem;
   margin-top: 0.2rem;
   list-style: none;
   opacity: 0.7;
}

.footer ul p {
   font-weight: 700;
   opacity: 1;
   margin-top: 0.2rem;
   padding: 0.2rem 0.2rem;
}

@media (max-width : 840px) {
   .sidebar {
      display: none;
   }

   .footer {
      display: none;
   }

   .card {
      width: 200px;
   }
}
@media (max-width : 1023px) {
   
   .nav-bar .searchbutton {
      display: none;
   }
   .nav-bar .side{
      display : none;
   }
   .center .home{
      position : absolute;
      left : 5rem;
   }
}

   

@media (max-width : 880px) {
   .musicplayer  .surname{
      display : none;
   }
}
@media (max-width:763px) {
    .plus i{
      display: none;
      
   }
   .album .plus{
       border : 0;
   }
   .musicplayer .controls{
      display: none;
   }
   .musicplayer .bar{
      display: none;
   }
   .musicplayer .time{
      display: none;
   }
   /* .musicplayer .playercontrol{
      position : fixed;
      left : 2rem;
   } */
}
@media (max-width : 400px) {
   .musicplayer .playercontrol{
      position: fixed;
      right : 0rem;
      bottom : 1.65rem;
   }
   .nav-bar .home{
      display : none;
   }
   .nav-bar .logo{
      display: none;
   }
   .nav-bar{
      display: none !important;
      position : relative;
   }
}
.fifth {
   display: flex;
   align-items: center;
   margin-top: 40px;
}


.icon-circle {
   height: 40px;
   width: 40px;
   background-color: #232323;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0.75rem;
}

.copyright {
   border-top: 1px solid #ffffff33;
   padding: 32px;
   margin-top: 40px;
   flex-wrap: nowrap;
   padding-right: 0%;
   flex-wrap: wrap;
   height: 150px;
   opacity: 0.7;

}

.copyright p {
   margin-top: 1rem;
   font-size: 14px;
}



.musicplayer .album img {
   height: 56px;
   width: 56px;
}

.musicplayer .album {
   display: flex;
   gap: 1.75rem;
   padding: 1rem 0 1rem 1rem;
   margin-bottom: 1rem;
   position: relative;
   /* bottom : 0.5rem; */
   top: 0.5rem;
   width: 25%;
   align-items: center;
}

.album .songname p {
   font-weight: 600;
   font-size: 14px;
   opacity: 0.9;
}

.album .songname a {
   font-size: 12px;
   opacity: 0.9;
   text-decoration: none;
}

.album .plus {
   opacity: 0.75;
   font-size: 10px;
   border: 1px solid white;
   height: 15px;
   width: 15px;
   display: flex;
   justify-content: center;
   border-radius: 50%;
   align-items: center;

}

.album .plus:hover {
   opacity: 1;
   cursor: pointer;
}

.player {
   width: 50%;

}

.musicplayer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 88px;
}

.playericon {
   height: 1rem;
}

.playercontrol {
   display: flex;
   justify-content: center;
   /* width : 50%; */
   margin-right: 2rem;
   margin-top: 0.5rem;
   align-items: center;
}

.playercontrol .playericon {
   margin-right: 2rem;
   opacity: 0.7;
}

.playercontrol .playericon:hover {
   opacity: 1;
}

.progressbar {
   display: flex;
   justify-content: center;
   align-items: center;

}

.player {
   width: 50%;
   top: 0.2rem;

}

.bar {
   width: 70%;
   appearance: none;
   background-color: transparent;
   cursor: pointer;
   opacity: 0.7;

}

.controls {
   width: 25%;
   display: flex;
   align-items: center;
   gap: 1rem;
   /* padding : 1rem 0 1rem 1rem; */
   position: relative;
   /* bottom : 0.5rem; */
   width: 25%;

   right: 1rem;
   margin-left: auto;
   justify-content: flex-end;

}

.bar::-webkit-slider-runnable-track {
   background-color: #ddd;
   border-radius: 100px;
   height: 0.15rem;
}

.bar::-webkit-slider-thumb {
   appearance: none;
   height: 1rem;
   width: 1rem;
   background-color: #fff;
   border-radius: 100%;
   margin-top: -6px;
}

.time {
   opacity: 0.7;
   font-size: 13px;
   margin: 0.7rem;
}

.line {
   border: 2px solid #fff;
   border-radius: 100px;
   width: 5rem;
   opacity: 1;
}

.control {
   position: relative;
   opacity: 0.7
}

.nav-bar {
   height: 60px;
   display: flex;
   position: sticky;
   width: 100%;
   top: 0;
   z-index: 10;
   justify-content: space-between;
   align-items: center;

}

.logo {
   width: 20%;
}

.logoimg {
   height: 72px;
   width: 72px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   margin: 1rem 0 1rem 0;
   padding: 1rem;
}

.center {
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.25rem;
   margin-left: 2rem;
   /*  margin-top : 0.7; */
}

.side {
   width: 30%;
}


.home {
   height: 40px;
   width: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #232323;
   border-radius: 100px;
   font-size: 1.25rem;
   margin-top: 0.7rem;
}

.searchbutton {
   display: flex;
   width: 65%;
   flex-direction: row;
   background-color: #232323;
   border-radius: 2rem;
   align-items: center;
   align-items: center;
   opacity: 0.7;
   transition: hover 2s ease-in-out 2s;
   margin-top: 0.7rem;
}

.searchbutton p {
   padding: 12px 96px 12px 12px;
}

.search i {
   font-size: 1.25rem;
   padding: 0 12px;
}

.searchbutton:hover {
   box-shadow: 0 0 2px white;
   opacity: 1;

}

.side {
   display: flex;
   justify-content: center;
   align-items: center;
}

.navbadge {
   background-color: #fff;
   color: #000;
   border: none;
   border-radius: 9999px;
   padding: 0.3rem 1rem;
   font-size: 0.75rem;
   font-weight: 700;
   cursor: pointer;
   width: fit-content;
   /* only as wide as the text */
   margin-top: 0.5rem;
   height: 2rem;

}

.insapp {
   background-color: #121212;
   color: white;
   display: flex;
   justify-content: center;
   gap: 8px;
   opacity: 0.7;
}

.insapp:hover {
   opacity: 1;

}

.border {
   height: 12px;
   width: 12px;
   border-radius: 100px;
   border: 1px solid white;
   display: flex;
   align-items: center;
   justify-content: center;

}

.border i {
   font-size: 0.5rem;

}

.installapp {
   display: flex;
}

.bell {
   opacity: 0.7;
}

.bell:hover {
   opacity: 1;
}

.nav-option2 button {
   background-color: #232323;
   color: #fff;
   border: none;
   border-radius: 9999px;
   padding: 0.3rem 1rem;
   font-size: 0.75rem;
   font-weight: 700;
   cursor: pointer;
   width: fit-content;
   margin-top: 0.5rem;
   height: 2rem;
}

.nav-option2 i {


   padding-right: 0.5rem;
   opacity: 0.7rem;
}


.nav-option1 {
   background-color: #121212;
   font-weight: 600;
   margin-top: 0.5rem;

}